# Скопируйте этот файл в .env и заполните значения

# Сгенерировать: python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
SECRET_KEY=замените-на-случайный-ключ

# На сервере: False
DEBUG=False

# Ваш домен, например: florea.ru,www.florea.ru
ALLOWED_HOSTS=ваш-домен.ru,www.ваш-домен.ru



EMAIL_HOST_USER=abobado35@gmail.com
EMAIL_HOST_PASSWORD=gaqa uwyh uolp vpmh
